@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Roboto:wght@300&display=swap');

*{
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.title {
  color: #191c1f;
  font-size: 42px;
  margin: 0;
}

.introduction {
  margin-top: 5px;
  color: #979fa7;
  font-size: 16px;
  line-height: 22px;
  width: 70vw;
  margin-left: 15vw;
}

.introduction a{
  text-decoration: underline;
  color: #2d77e3;
}

a {
  text-decoration: none;
}

.nav{
  width: 60vw;
  list-style-type: none;
  margin-left: 15vw;
  margin-top: 50px;
}

.nav li{ 
  width: 60vw;
  padding-top: 10px;
  padding-left: 5px;;
  background-color: #f3f4f5;
}

.nav li a {
  color: #191c1f;
  font-size: 22px;
}

.nav li a:hover {
  background-color: #191c1f;
  color: #ffffff;
}

.number{
  font-size: 32px;
  font-weight: bold;
}

.question{
  margin-left: 15vw;
}

.question a{
  color: #2d77e3;
}

.question a::before{
  content: url(../../img/west-24px.svg);
  padding-right: 5px;
}

.question pre {
  font-family: monospace;
  background-color: #f3f4f5;
  padding-left: 20px;
  width: 60vw;
  border-radius: 20px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word; 
}

.question pre span{
  color: rgb(21, 182, 21);
  font-family: monospace;
}

.question .instruction{
  color: #979fa7;
}

.question button{
  background-color: #191c1f;
  color: #ffffff;
  font-size: 18px;
  width: 110px;
  height: 50px;
  border: none;
  border-radius: 25px;
  margin-right: 25px;
}

.question input {
  width: 19rem;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: none;
  border-bottom: 1px solid #949ca6;
  color: #191c1f;
  font-size: .90rem;
  font-weight: 500;
}

.question button:hover{
  background-color: #f3f4f5;
  color: #191c1f;
}

.question .result{
  font-size: 32px;
}

footer{
  margin-left: 15vw;
  margin-top: 50px;
  
}

footer a {
  color: #2d77e3;
}

.portfolioLink::after{
  content: url('../../img/east-24px.svg');
  padding-left: 5px;
}

@media only screen and (max-width: 560px) {
  .title{
    font-size: 26px;
  }

  .introduction {
    font-size: 14px;
    line-height: 20px;
    width: 90vw;
    margin-left: 5vw;
  }

  .nav{
    width: 80vw;
    margin-left: 0vw;
  }
  
  .nav li{ 
    width: 80vw;
  }
  
  .nav li a {
    font-size: 16px;
  }
  
  .number{
    font-size: 28px;
  }

  .question{
    margin-left: 5vw;
  }

  .question h1{
    font-size: 24px;
  }

  .question pre{
    width: 85vw;
  }

  .question input {
    width: 75vw;
  }

  footer{
    margin-left: 5vw;
    margin-top: 50px;
    font-size: 14px;
  }
}